{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-2">
		<h1>Contact Us</h1>
		<h2>Indian Council of Medical Research</h2>
		<p>
			V. Ramalingaswami Bhawan, P.O. Box No. 4911<br/>
			Ansari Nagar, New Delhi - 110029, India
		</p>
		<p><strong>Email: </strong><a href="mailto:icmrhqds@sansad.nic.in">icmrhqds[at]sansad[dot]nic[dot]in</a></p>
		<p>
			<!-- <strong>Email: </strong><a href="mailto:secy-dg@icmr.gov.in">secy-dg[at]icmr[dot]gov[dot]in</a><br/> -->
			<strong>Phone 1: </strong><a href="tel:+91-11-26588895">+91-11-26588895</a><br/>
			<strong>Phone 2: </strong><a href="tel:+91-11-26588980">+91-11-26588980</a><br/>
			<strong>Phone 3: </strong><a href="tel:+91-11-26589794">+91-11-26589794</a><br/>
			<strong>Phone 4: </strong><a href="tel:+91-11-26589336">+91-11-26589336</a><br/>
			<strong>Phone 5: </strong><a href="tel:+91-11-26588707">+91-11-26588707</a>
		</p>
		<p><strong>Fax: </strong><a href="tel:+91-11-26588662">91-11-26588662</a></p>
		<h3>Mr. Rajiv bahl</h3>
		<p>Secretary, Department of Health Research & Director General, ICMR</p>
		<p>
			<strong>Email: </strong><a href="mailto:secy-dg@icmr.gov.in">secy-dg[at]icmr[dot]gov[dot]in</a><br/>
			<strong>Phone 1: </strong><a href="tel:+91-11-26588204">+91-11-26588204</a><br/>
			<strong>Phone 2: </strong><a href="tel:+91-11-26588662">+91-11-26588662</a>
		</p>
	</div>
</div>

<style>
	.row {
		justify-content: space-between;
		align-items: center;
	}
</style>
{% endblock %}